<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administrador</title>
  <link rel="stylesheet" href="../public/css/bootstrap.css">
  <script src="../public/js/"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Restaurante UDI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="panelAdmin.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tipoplato.html">Tipos de Plato</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="plato.html">Platos</a>
          </li>            
          <li class="nav-item">
            <a class="nav-link" href="consumo.html">Consumo</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="producto.html">Producto</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="reserva.html">Reserva</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicio</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="usuario.html">Usuarios</a>
          </li>  
        </ul>
    </div>
  </div>
</nav>

  <h1>Bienvenido al Panel de Administrador</h1>
  <p>Aquí puedes gestionar la información privilegiada de la aplicación.</p>
</body>
</html>
